ion-toolbar {
    --background: #0011ffb6;
    --color :#ffffff
  }
ion-back-button{
    --color: #ffffff
  }

  ion-card {
    height: 120px;
    width: 120px;
    margin-left: 100px;
    justify-content: center;
   
    } 
 