<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>User details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">ID</ion-label>
    <ion-input >{{User.id}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input>{{User.email}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input>{{User.first_name}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input>{{User.last_name}}</ion-input>
  </ion-item>
  <ion-card >
    <img src={{User.avatar}}>
  </ion-card>
</ion-content>
